*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: rgb(19, 19, 19);
}

/* Container do Header */

.header-container {
    margin: 2% ;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 255, 255, 0.226);
    padding:  20px 50px;
    transition: 0.2s;
    text-decoration: none;
}

.header-container:hover {
    background-color: rgba(0, 255, 255, 0.404);
}

/* Itens do Header */

.head-div {
    color: aliceblue;
    font-family: Arial;
    font-size: 1.5em;
    transition: 0.3s;
    text-decoration: none;
}

.head-div a {
    text-decoration: none;
    color: white;
}

.head-div:hover{
    font-size: 2em;
}

footer {
    padding: 40px 0;
    background-color: black;
}

main h1 {
    margin:11% 0;
    color: white;
}